body {
  background-color: #12172c;
  height: 100%;
  width: 100%;
  font-family: arial;
}

h3 {
  color: white;
}

.dot {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border-width: 6px;
  border-style: solid;
  border-color: #666;
  z-index: 1;
  transition: background-color 0.4s ease, border-color 0.4s ease;
  margin: 3px auto 0 auto;
}

.header-left {
  width: 23%;
  position: fixed;
  background-color: #474e5d;
  top: 0px;
  left: 0px;
}

.header-left p {
  color: white;
  font-size: 250%;
  margin: 5px 0 0 5px;
  font-weight: bold;
}

.header-right {
  width: 2%;
  position: fixed;
  background-color: #474e5d;
  top: 0px;
  right: 0px;
}

.infobox-right{
  display:none;
  position: relative;
	background-color: #474e5d;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 600px;
  min-height:250px;
  margin-left: 45px;
  top: -80px;
}
.infobox-left{
  display:none;
  position: relative;
	background-color: #474e5d;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 600px;
  min-height:250px;
  margin-left: -634px;
  top: -80px;
}

.line{
  background-color: #666;
  height: 100px;
  width: 8px;
  margin: 3px auto 0 auto;
}

.line-last{
  background-color: #666;
  height: 150px;
  width: 8px;
  margin: 3px auto 0 auto;
}

.line-end{
  background-color: #666;
  height: 200px;
  width: 8px;
  margin: 3px auto 0 auto;
}

.icon{
  height: 70px;
  width: 70px;
  margin: 15px auto 0 auto;
  left: -30px;
  position: relative;
}

.line:hover .infobox-right {
  display:block;
}

.line:hover .infobox-left {
  display:block;
}

.line:hover .picture-source {
  display:block;
}

.line:hover{
  background-color: #00e600;
}

.main-info {
  color: white;
  font-size: 250%;
  margin: 5px 0 0 5px;
  font-weight: bold;
  margin: 3px 10px 3px 10px
}

.main-info:hover .main-info-text {
  display: block;
}

.main-info-text {
  text-align: left;
  font-size: 50%;
  font-weight: normal;
  background-color: #474e5d;
  display: none;
  position: fixed;
  right:0px;
}

.picture-source {
  display: none;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: white;
  font-size: 75%;
}

.screen-right {
  float:left;
  margin: 15px;
}

.screen-left {
  float:right;
  margin: 15px;
}

.segment {
  margin: 0 auto 0 auto;
  width: 120px;
}

.text-left {
  margin-left:10px;
}

.text-right {
  margin-right:10px;
}

.timetable {
  margin: 75px auto 0 auto;
  width: 50%;
}

.timeline {
  display: inline-grid;
}

.year {
  display: inline-grid;
  color: white;
  font-weight: bold;
  font-size: 120%;
}
