body {
  background-color: #12172c;
  height: 100%;
  width: 100%;
  font-family: arial;
}

.dot {
  position: relative;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #666;
  z-index: 1;
  transition: background-color 0.4s ease, border-color 0.4s ease;
  margin: 3px auto 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  background-color: #474e5d;
  top: 0px;
  right: 0px;
}

.header p {
  color: white;
  font-size: 250%;
  margin: 5px 0 0 5px;
  font-weight: bold;
}

.infobox-right{
  display:none;
  position: relative;
	background-color: #474e5d;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 600px;
  min-height:250px;
  margin-left: 30px;
  top: -62px;
}
.infobox-left{
  display:none;
  position: relative;
	background-color: #474e5d;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 600px;
  min-height:250px;
  margin-left: -625px;
  top: -62px;
}

.line{
  background-color: #666;
  height: 75px;
  width: 3px;
  margin: 3px auto 0 auto;
}

.icon{
  height: 42px;
  width: 42px;
  margin: 15px auto 0 auto;
  left: -20px;
  position: relative;
}

.line:hover .infobox-right {
  display:block;
}

.line:hover .infobox-left {
  display:block;
}

.line:hover .picture-source {
  display:block;
}

.picture-source {
  display: none;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: white;
  font-size: 75%;
}

.screen-right {
  float:left;
  margin: 15px;
}

.screen-left {
  float:right;
  margin: 15px;
}

.segment {
  margin: 0 auto 0 auto;
  width: 120px;
}

.timetable {
  margin: 75px auto 0 auto;
  width: 50%;
}

.timeline {
  display: inline-grid;
}

.year {
  display: inline-grid;
  color: white;
  font-weight: bold;
  font-size: 120%;
}
